<header>
  <div>
    <img src="assets/img/91740-a1970705765-10.jpg">
  </div>
</header>

<div style="text-align:center">
  <h1>
    Tv Shows
  </h1>
</div>
<!-- <div style="text-align:center">
  <label for="Subject"></label>
  <input name = 'subject' type="text" [(ngModel)]= "query">
  <button (click)="searchShows()">Submit</button>
</div> -->
<br>


<!-- <div>
  <ul>
    <li *ngFor="let show of showsList">
      <a routerLink="/tv/{{show.id}}">{{show.title}}</a>
    </li>
  </ul>
</div> -->
<div style="text-align:center">
  <p style="font-size:20px;">Click on the movie list tab to see more about different tv shows</p>
</div>
<br>
<div class = 'row'>
  <div class="col-md-4" style="text-align:center">
    <img src="assets/img/Parks and Recreation.jpg" >
    <br>
    <br>
    <p>Releaded on: April 9, 2009</p>
    <p>Genre: Comedy</p>
    <p>Network: NBC</p>
  </div>
  <div class="col-md-4" style="text-align:center">
    <img src="assets/img/Bob's Burgers.jpg" >
    <br>
    <br>
    <p>Releaded on: January 9, 2011</p>
    <p>Genre: Comedy</p>
    <p>Network: FOX</p>
  </div>
  <div class="col-md-4" style="text-align:center">
    <img src="assets/img/Bones.jpg" >
    <br>
    <br>
    <p>Releaded on: September 13, 2005</p>
    <p>Genre: Crime film</p>
    <p>Network: FOX </p>
  </div>
</div>
